html,
body {
    background-image:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dio.me%2Farticles%2Fraciocinio-logico-Y03MX9&psig=AOvVaw1kQ3uBc8m1sa-pG2i4PQbV&ust=1726398175495000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNiU98OkwogDFQAAAAAdAAAAABAS);
    background-size:100%;
}

.container {
    display        : flex;
    position       : absolute;
    width          : 100%;
    height         : 100%;
    flex-flow      : column nowrap;
    align-items    : center;
    justify-content: center;
}

.container .title {
    font-size: 35px;
    color    : white;
}

.container .buttons {
    margin-top : 50px;
    margin-left: -130px;
}

.container .buttons .btn {
    position        : absolute;
    padding         : 10px 20px;
    font-size       : 18px;
    background-color: #F51C02;
    color           : white;
    border          : none;
    border-radius   : 3px;
}

.container .buttons>#btnno {
    margin-left: 70px;
}
